@model IEnumerable<Moda_Praia.Models.Produto>

<section class="produtos-grid-bg">
    <form action="/" method="post">
        <div class="table-container">
        
            <div class="header-produto">
                 <h2>Lista de Produtos</h2>
                  <a asp-area="Admin" asp-controller="Produtos" asp-action="Create" class="botao-adicionar-admin">Cadastrar</a>
            </div>
            <table class="tabela-produtos">
                <thead class="tabela-header">
                    <tr class="tabela-produtos-header">
                        <th>@Html.DisplayNameFor(Model => Model.Id)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Nome)</th>
                        <th>@Html.DisplayNameFor(Model => Model.PrecoVenda)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Categoria)</th>
                        <th>@Html.DisplayNameFor(Model => Model.CorBase)</th>
                        <th>@Html.DisplayNameFor(Model => Model.QuantidadeEstoque)</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody >
                    @foreach (var produto in Model)
                    {
                        <tr class="tabela-produtos-data">
                            <td>@produto.Id</td>
                            <td>@produto.Nome</td>
                            <td>@produto.PrecoVenda</td>
                            <td>@produto.Categoria</td>
                            <td>@produto.CorBase</td>
                            <td>@produto.QuantidadeEstoque</td>
                            <td>
                                <a href="#" id="detalhes">Detalhes</a>
                                <a href="#" id="editar">Editar</a>
                                <a href="#" id="excluir">Excluir</a>
                           </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </form>
</section>