@model IEnumerable<Moda_Praia.Models.Produto>

<div class="flex flex-col flex-grow overflow-y-auto ">
    <div class="flex justify-between items-center mx-4 bg-white px-2 py-3 rounded-md mb-2">
        <div class="flex gap-4">
            <a class="rounded-md p-1 border-[0.5px] border-gray-300 text-slate-600 text-xs" href="#">Todas categorias ^</a>
            <a class="rounded-md p-1 border-[0.5px] border-gray-300 text-slate-600 text-xs" href="#">Preço ^</a>
            <a class="rounded-md p-1 border-[0.5px] border-gray-300 text-slate-600 text-xs" href="#">Diposnibilidade ^</a>
        </div>

        
        <a  asp-action="Create" class="bg-orange-400 px-3 py-2 rounded-md text-white text-xs">+ Adicionar Produto</a>

    </div>


    <table class="mx-4 bg-gray-50 p-4 py-2 rounded-t-md  mb-2 border-b-[0.5px] border-gray-300 table-fixed w-[1150px] ">
        <thead class=" bg-slate-200 ">
            <tr class="">

                <th class="p-2 text-start text-sm font-medium text-slate-600">@Html.DisplayNameFor(model => model.Id)</th>
                <th class="p-2 text-start text-sm font-medium text-slate-600">@Html.DisplayNameFor(model => model.Nome)</th>
                <th class="p-2 text-start text-sm font-medium text-slate-600">@Html.DisplayNameFor(model => model.PrecoVenda)</th>
                <th class="p-2 text-start text-sm font-medium text-slate-600">@Html.DisplayNameFor(model => model.PrecoCusto)</th>
                <th class="p-2 text-start text-sm font-medium text-slate-600">@Html.DisplayNameFor(model => model.CorBase)</th>
                <th class="p-2 text-center text-sm font-medium text-slate-600">Ações</th>

            </tr>

        </thead>

        <tbody class="">


            @foreach(var produto in Model) {

                <tr class="border-b-[0.5px] border-gray-300 hover:bg-gray-100 transition-colors duration-200">

                    <td class="p-2 text-start text-xs text-slate-950">@produto.Id</td>
                    <td class="p-2 text-start text-xs text-slate-950">@produto.Nome</td>
                    <td class="p-2 text-start text-xs text-slate-950">@produto.PrecoVenda</td>
                    <td class="p-2 text-start text-xs text-slate-950">@produto.PrecoCusto</td>
                    <td class="p-2 text-start text-xs text-slate-950">@produto.CorBase</td>
                    <td class="p-2 text-center text-xs text-slate-950">
                        <div>
                            <a class="px-1 py-1 rounded-sm text-black bg-sky-600 hover:bg-sky-700 transition-colors duration-200" href="#">Detalhes</a>
                            <a class="px-1 py-1 rounded-sm text-black bg-amber-400 hover:bg-amber-500 transition-colors duration-200" href="#">Atualizar</a>
                            <a class="px-1 py-1 rounded-sm text-black bg-red-500 hover:bg-red-600 transition-colors duration-200" href="#">Excluir</a>
                        </div>

                    </td>

                </tr>

            }

        </tbody>

    </table>

</div>


<div class=" flex justify-end items-center mb-2">
    <div class="flex gap-2 mx-8 items-center">
        <a class="bg-slate-300 px-2 py-1 rounded-md hover:bg-slate-400 transition-colors duration-200" href="#">1</a>
        <a class="bg-slate-300 px-2 py-1 rounded-md hover:bg-slate-400 transition-colors duration-200" href="#">2</a>
        <a class="bg-slate-300 px-2 py-1 rounded-md hover:bg-slate-400 transition-colors duration-200" href="#">3</a>
        <a class="bg-slate-300 px-2 py-1 rounded-md hover:bg-slate-400 transition-colors duration-200" href="#">4</a>

    </div>
</div>