@model IEnumerable<Moda_Praia.Models.Produto>

<section class="flex justify-center">
    <form action="/" method="post">
        <div class="grid auto-cols-fr max-w-[75rem] border-y-2 border-solid border-black">
        
            <div class="flex justify-between items-center mt-2  mb-2">
                <h2 class="text-xl">Lista de Produtos</h2>
                <a asp-area="Admin" asp-controller="Produtos" asp-action="Create" class=" text-xl text-white border-2 border-solid rounded-md border-white px-3 py-2 bg-green-600 uppercase">Cadastrar</a>
            </div>
            <table class="border-t-2 border-solid border-black border-separate border-spacing-[2px]">
                <thead>
                    <tr class="text-base">
                        <th class="text-left">@Html.DisplayNameFor(Model => Model.Id)</th>
                        <th class="text-left">@Html.DisplayNameFor(Model => Model.Nome)</th>
                        <th class="text-left">@Html.DisplayNameFor(Model => Model.PrecoVenda)</th>
                        <th class="text-left">@Html.DisplayNameFor(Model => Model.Categoria)</th>
                        <th class="text-left">@Html.DisplayNameFor(Model => Model.CorBase)</th>
                        <th class="text-left">@Html.DisplayNameFor(Model => Model.QuantidadeEstoque)</th>
                        <th class="text-center border-b-[0.2px] border-black border-solid">Ações</th>
                    </tr>
                </thead>

                <tbody >
                    @foreach (var produto in Model)
                    {
                            <tr class="even:bg-slate-100 odd:bg-slate-200">
                            <td>@produto.Id</td>
                            <td>@produto.Nome</td>
                            <td>@produto.PrecoVenda</td>
                            <td>@produto.Categoria.Nome</td>
                            <td>@produto.CorBase</td>
                            <td>@produto.QuantidadeEstoque</td>
                            <td class="bg-white flex gap-1">
                                <a asp-area="Admin" asp-controller="Produtos" asp-action="Detalhes" asp-route-id="@produto.Id" class="px-2 border border-solid border-2 border-gray-200 text-white uppercase bg-blue-500" id="detalhes">Detalhes</a>
                                <a asp-area="Admin" asp-controller="Produtos" asp-action="Detalhes" asp-route-id="@produto.Id" class="px-2 border border-solid border-2 border-gray-200 text-black uppercase bg-yellow-300" id="editar">Editar</a>
                                <a asp-area="Admin" asp-controller="Produtos" asp-action="Detalhes" asp-route-id="@produto.Id" class="px-2 border border-solid border-2 border-gray-200 text-white uppercase bg-red-500" id="excluir">Excluir</a>
                           </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </form>
</section>